* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./8-84795_pokemon-go-hd-wallpaper-1-journey-151-dreams.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    width: 100vw;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.logo {
    width: 250px;
    height: 120px;
    display: block;
    margin: 20px auto;
    padding: 30px 30px;
}

@media screen and (min-width: 992px) {
.content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
